{% extends 'base.html.twig' %}

{% block title %}Edit TypeBillet{% endblock %}

{% block body %}
    <h1>Edit TypeBillet</h1>

    {{ include('type_billet/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_type_billet_index') }}">back to list</a>

    {{ include('type_billet/_delete_form.html.twig') }}
{% endblock %}
